/******************************************************************
Site Name: HTML Game for Saxifrage Web Dev 101
Author: Lara Schenck // notlaura.com

Stylesheet: Main Stylesheet

******************************************************************/

@import "normalize";
@import "mixins";
@import "snippet";
@import "grid";
@import "base";

html, body {
	height: 100%;
}

body {
	background: #444;
	font-size: 0.9em;
	color: #fff
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	width: 100%;
}

.wrap {
	margin-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	max-width: 800px;
}

.puzzle {
	margin: 0 auto;
	height: 700px;
	background: #fff;
	border: 10px solid #ddd;
}

.controls {
	width: 100%;
	// float: left;
	li {
		display: inline;
	}
}

.sortable {
	border-bottom: 10px solid #ddd;
	height: 100%;
	padding: 0;
	&:last-child {
		border-bottom: 0;
	}

	li {
		background: lighten($bones-blue, 20%);
		border: 1px solid #fff;
		margin: 0;
		padding: 10px;
		float: left;
		cursor: pointer;

		&:hover {
			background: lighten($bones-blue, 10%);;
		}

		&:active {
			background: $bones-blue;
		}
	}
}


.top li {
	background: $bones-blue;
	&:hover {
		background: lighten($bones-blue, 20%);
	}
}

.second li {
	background: $bones-pink;
	position: relative;
	z-index: 2;
	&:hover {
		background: lighten($bones-pink, 20%);
	}
}

.third li {
	background: darken($alert-green, 30%);
	&:hover {
		background: darken($alert-green, 10%);
	}
}

.fourth li {
	position: relative;
	z-index: 4;
	background: darken($alert-green, 35%);
	&:hover {
		background: darken($alert-green, 15%);
	}
}

.before {
	background: darken($alert-green, 10%) !important;
}

.after {
	background: darken($alert-red, 10%) !important;
}

.kudos {
	margin-top: 5em;
	display: none;
}




// Selectors

.selectors {
	background: $white;
	padding: 1em;

	.draggable {
		padding: 0;
		
		li {
			position: relative;
			z-index: 999;
			width: 60px;
			max-width: 100%;
			padding: 1em 0;
			margin: 1em 0;
			text-align: center;
			cursor: pointer;
		}
	}
}

#selectors1 .puzzle {
	background: #eee;
	.droppable {
		padding: 1em;
		border: 1px solid #999;
	}
}

.girly {
	@include box-shadow(0 0 3px $bones-pink);
	@include css-gradient($bones-pink, lighten($bones-pink, 30%));
	@include border-radius(10px);
	font-family: $serif-italic;
	font-size: 1.2em;
	letter-spacing: 2px;
}

.boyish {
	background: #1C5446;
	border: 3px solid #47AC39;
}

.woody {
	background: url('../img/tileable_wood_texture.png');
}

.text-style1 {
	color: $white;
	text-shadow: 1px 1px 3px #47AC39;
}

.title-text {
	color: #362C12;
	font-family: $serif-bold;
	font-size: 2em;
	line-height: 0;
}

.error {
	text-transform: uppercase;
	color: red;
	font-family: $sans-serif-bold;
	font-size: 1.25em;
}



// Box grid

$total: 99.9%;

.whole-horiz {
	width: $total;
}

.whole-vert {
	height: $total;
}

.half-horiz {
	width: $total/2;
}

.half-vert {
	height: $total/2;
}

.fourth-horiz {
	width: $total/4;
}

.fourth-vert {
	height: $total/4;
}

.eighth-horiz {
	width: $total/8;
}

.eighth-vert {
	height: $total/8;
}

